################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Roeivereniging/View/bin/Debug/netcoreapp3.1
